/*index paeg*/
a{
    text-decoration: none;
    color: #393939;
}

a:hover{
    color: #A21518;
}

#mainContent ul.posts-index li {
    font-weight: bold;
}


/*头部样式*/
#headerWrapper {
    position: relative;
    z-index: 999;
    /*background-color: #f9f9f9;*/
    background: #ffffff;
}

#header {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: dotted 2px #222;
}

#logo {
    float: left;
}

#logo a {
    font-weight: bold;
    font-size: 32px;
}


/*post style*/
#mainContent {
    position: relative;
    max-width: 800px;
    padding: 20px 10px;
    margin: 0 auto;
}

/*post a global style*/
#mainContent .post-body a{
    color: #4183C4;
}


#mainContent h1 {
    font-size: 24px;
    font-weight: 600;
}

#mainContent h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

#mainContent h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

#mainContent p {
    margin: 10px 0;
    font-size: 16px;
}


#mainContent ul,
#mainContent ol {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 0 0 30px;
}

#mainContent ul li {
    list-style: disc;
    line-height: 150%;
}



.post-body {
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
}


.post-body img {
    max-width: 100%;
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6,
.post-body p {
    margin-top: 30px;
    margin-bottom: 30px;
}


/*主体内容区*/
#mainContent {
    min-height: 500px;
}


/*底部*/
#footer {
    max-width: 800px;
    margin: 10px auto;
    padding-top: 10px;
    font-size: 12px;
    text-align: right;
    border-top: 1px solid #e9eaec;
}

#footer a {
    color: #9c9c9c;
}

#footer a:hover {
    color: #444;
}



.text-warning{
    color: #B24926 !important;
}

.text-warning a{
    color: #B24926 !important;
}

/*up to top*/
#upToTop {
    position: fixed;
    display: block;
    height: 28px;
    width: 28px;
    right: 50px;
    bottom: 80px;
    background: url(/public/img/icon/arrow_up_circle.png) no-repeat;
    background-size: 28px 28px;
    cursor: pointer;
    opacity: 0.5;
    display: none;
    z-index: 9999;
}

#upToTop:hover {
    opacity: 1;
}
