<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>
        {% block title %} booker|a powerful book framework.{% endblock %}
    </title>
    <link rel="stylesheet" href="/public/css/public.css">
    <link rel="stylesheet" href="/public/css/page.css">
    <link rel="stylesheet" href="/public/css/monokai.min.css">
</head>

<body>
    <div id="headerWrapper" class="cf">
        <header id="header" class="cf">
            <div id="logo">
                <h1 class="logo">
					<a href="/">{% book title %}</a>
				</h1>
                <div class="logo-subtitle">
                    {% subtitle %}
                </div>
            </div>
        </header>
    </div>
    {% block content %}page content{% endblock %}
    <footer id="footer">
        <i id="upToTop"></i>
        <p>
            联系方式 <span>|</span> <a href="javascript:void(0);">yangxiaofuPL@163.com</a>
        </p>
    </footer>
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="public/js/highlight.min.js"></script>
    <script src="public/js/post.js"></script>
    <script>
    $(document).ready(function() {
        $('.highlight').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });
    </script>
</body>

</html>
